
*{
    margin:0px;
    padding:0px;
}
.top{
    width:100%;
    height:40px;
    background: #f4f4f4;
}

.big_bottom{
    width: 100%;
    height: 300px!important;
}

.topLeft{
    width:120px;
    height:40px;
    line-height:40px;
    float: left;
    margin-left:100px;
}
.topLeft-span{
    width: 16px;
    height:12px;
    display: inline-block;
    background: url("../image/sprite.base.png");
    background-position: -18px -68px;
}
.topLeft-a{
    text-decoration: none;
    color: #000;
}
.topLeft-bottom{
    width:200px;
    height:210px;
    background: #f4f4f4;
    margin-left:100px;
    margin-top: 40px;
    position: absolute;
    z-index: 1;
    display: none;
}
.topLeft-bottom ul li{
    list-style: none;
    line-height: 40px;

}
.topLeft-bottom ul li a{
    text-decoration: none;
    color: #9196a0;
    margin-left:24px;
}
.topLeft-bottom1:hover{
    color: red;
}
.topRight{
    width:790px;
    height:40px;
    margin-left:476px;
}
.topRight ul{
    line-height: 40px;
}
.topRight ul li{
    list-style: none;
    float: left;
}
.topRight ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #8e8e8e;
}
.topRight-li1{
    width:190px;
    height:20px;
}
.topRight-li2{
    width:100px;
    height:20px;
}
.topRight-li2-span{
    display: inline-block;
    width:10px;
    height:5px;
    background: url("../image/sprite.base.png");
    background-position: -89px -16px;
}
.topRight-li3{
    width:110px;
    height:20px;
}
.topRight-li3-span{
    display: inline-block;
    width:11px;
    height:14px;
    background: url("../image/sprite.base.png");
    background-position: -72px -50px;
}
.topRight-li4{
    width:115px;
    height:20px;
}
.topRight-li4-span{
    display: inline-block;
    width:15px;
    height:13px;
    background: url("../image/sprite.base.png");
    background-position: -72px -32px;
}
.topRight-li5{
    width:90px;
    height:20px;
}
.topRight-li5-span{
    display: inline-block;
    width:16px;
    height:11px;
    background: url("../image/sprite.base.png");
    background-position: 0px -68px;
}
.topRight-li6{
    width:115px;
    height:20px;
}
.topRight-li6-span{
    display: inline-block;
    width:16px;
    height:11px;
    background: url("../image/sprite.base.png");
    background-position: 0px -68px;
}
.topRight-li7{
    width:70px;
    height:20px;
}
.topRight-li7-span{
    display: inline-block;
    width:10px;
    height:14px;
    background: url("../image/sprite.base.png");
    background-position: -89px 0px;
}
#topRight-li7-a{
    font-size: 14px;
    color: red;
}
.logo{
    width:100%;
    height:140px;
    position: relative;
}
.logoLeft{
    width:430px;
    height:60px;
    position: absolute;
    left:100px;
    top:78px;
}

.boy{
    width:80px;
    height:60px;
    list-style: none;
    float: left;
    text-align: center;
    background: black;
}
.boy1{
    height:25px;
}
.BOY1{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.BOY2{
    font-size: 17px;
    color: white;
    text-decoration: none;
}
.girl{
    width:80px;
    height:60px;
    list-style: none;
    float: left;
    text-align: center;
}
.girl1{
    height:25px;
}
.GIRL1{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.GIRL2{
    font-size: 17px;
    color: #8e8e8e;
    text-decoration: none;
}
.kids{
    width:80px;
    height:60px;
    list-style: none;
    float: left;
    text-align: center;
}
.kids1{
    height:25px;
}
.KIDS1{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.KIDS2{
    font-size: 17px;
    color: #8e8e8e;
    text-decoration: none;
}
.logoLeft-H1{
    height:25px;
}

.logoLeft-H1 a{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.logoLeft-H2 a{
    font-size: 17px;
    color: #8e8e8e;
    text-decoration: none;
}
#logoLeft-end{
    width:105px;
    height:60px;
    list-style: none;
    float: left;
    text-align: center;
}
.mainLogo{
    width:170px;
    height:40px;
    background: url("../image/logo_e.png");
    position: absolute;
    left:570px;
    top:50px;
}
.logoRight{

    position: absolute;
    left:850px;
}
#inp{
    width:240px;
    height:30px;
    border:1px solid red;
    margin-top:65px;
}
.search{
    display: inline-block;
    width:70px;
    height:32px;
    background: black no-repeat;
    background-image: url("../image/search.png");
    background-position: 25px 7px;
    position: absolute;
    left:240px;
    margin-top:-32px;
}
.buycar{
    display: inline-block;
    width:30px;
    height:28px;
    background:yellow;
    background: url("../image/购物车.png");
    position: absolute;
    left:330px;
    margin-top: -30px;
}
.logoRight ul{
    line-height: 40px;
}
.logoRight ul li{
    list-style: none;
    float: left;
    width:35px;
    height:20px;
}
.logoRight ul li a{
    text-decoration: none;
    text-align: center;
    font-size:14px;
    color: #8e8e8e;
}
#logoRight-li{
    width:60px;
    height:20px;
}
.buycar2{
    width:150px;
    height:100px;
    position: absolute;
    left:1165px;
    top:98px;
    z-index: 100;
    display: none;
    background: white;
}
.Buycar2{
    width:70px;
    height:70px;
    background: url("../image/timg.jpg");
    background-size: 70px 70px;
    margin:auto;
}
.BuyCar2{
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}
.nav{
    width:100%;
    height:50px;
    background: black;
}
.nav ul{
    margin-left: 100px;
}
.nav ul li{
    list-style: none;
    float: left;
    width:120px;
    height:50px;
    line-height: 50px;
}
.nav ul li a{
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: white;
}
.nav ul li a:hover{
    text-decoration: underline;
    text-underline-color: white;
}

.big_bottom{
    width: 100%;
    height: 300px;
}

#mydiv1{
    width: 1365px;
    height: 420px;
    margin: auto;
    background-color:#F8F8F8;
}
#mydiv1 ul{
    width: 200px;
    margin-top: 20px;
    border-right: 1px solid grey;
}
#mydiv1 ul li{
    width: 160px;
    list-style: none;
}
#mydiv1 ul li a{
    text-decoration: none;
    line-height: 40px;
    color: #62635E;
    font-size: 15px;
}
#mydiv1 ul li a:hover{
    font-size: 18px;
}
.type a{
    color: #000000 !important;
}
.type{
    border-bottom: 1px solid #000000;
}
.red a{
    color: #C40000 !important;
}
#my1{
    float: left;
    width: 230px;
    margin-left: 80px;
}
#my2{
    float: left;
    width: 230px;
}
#my3{
    float: left;
    width: 230px;
}
#my4{
    margin-top: 60px;
    margin-left: 60px;
    float: left;
}

#main{
    border: 1px solid #DFDFDF;
    width:1000px;
    margin-top: 50px;
    margin-left: 250px;
}
#main span{
    font-size:12px;
    font-weight: bolder;
    display: inline-block;
    margin-top:20px;
    margin-left: 20px;
    float: left;
    color: #000000;
}
#main a{
    color:#696969;
    margin-left: 30px;
    width: 100px;
    display: inline-block;
    float: left;
    text-decoration: none;
    font-size: 14px;
    font-family:"微软雅黑 Light";
}
#main a:hover{
    color: brown;
}
#main ul{
    float: left;
}
#main ul li{
    float: left;
    list-style: none;
    margin-top: 5px;
}
#main ul li span{
    width:18px;
    height: 18px;
    display: inline-block;
    margin-top: -3px;
}
#sp1{
    background-color: black;
    border: 1px solid #999999;
}
#sp2{
    background-color: #FFFFFF;
    border: 1px solid #999999;
}
#sp3{
    background-color: #62635E;
    border: 1px solid #999999;
}
#sp4{
    background-color: #99CCFF;
    border: 1px solid #999999;
}
#sp5{
    background-color: #CC33FF;
    border: 1px solid #999999;
}
#selected{
    width:1000px;
    height: 53px;
    background-color: #EAECEB;
    border-bottom: 1px solid #DFDFDF;
}
#sex{
    width:1000px;
    height: 53px;
    border-bottom: 1px solid #DFDFDF;
}
#brand{
    width:1000px;
    height: 53px;
    border-bottom: 1px solid #DFDFDF;
}
#people{
    width:1000px;
    height: 53px;
    border-bottom: 1px solid #DFDFDF;
}
#price{
    width:1000px;
    height: 53px;
    border-bottom: 1px solid #DFDFDF;
}
#color{
    width:1000px;
    height: 53px;
}
#show{
    width:1200px;
    margin-top: 30px;
    margin-left: 250px;
}
#show li{
    float: left;
    list-style: none;
    margin-right: 55px;
    margin-bottom: 30px;
    width: 280px;
    height: 450px;
    text-align: center;
}
#show li a{
    width:280px ;
    margin-left: -30px ;
    margin-right: 15px ;
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}
#show li a:hover{
    font-size: 16px;
    color: brown;
}
#show li span{
    margin-top: 10px;
    display: inline-block;
    margin-bottom:20px;
}